@using MvcApplication1.Models
@{
    ViewBag.Title = "Index";
    Layout = "../Shared/MasterPage.cshtml";
}


<button id="OpenMail" type="button" class="btn btn-primary">Open modal</button>
@Html.EmailEditor(new EmailProperty { Id = "exampleModal", Title = "Reminder Email Options", Url = Url.Action("Send", "Email"), GetListReceivers = "GetListReceivers()"})

<script>
    function GetListReceivers() {
        //Doing more
        return 'abc@gmail.com;dbf@gmail.com;';
    }
    $(document).ready(function () {
        $('#OpenMail').click(function () {
            $('#exampleModal').modal('show');
        });
    });

</script>

















































@*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Form - C Reminder Email Options</h4>
            </div>
            <div class="modal-body">
                <form id="FormC" action="/Email/Send" method="POST">
                    <input type="hidden" name="Receivers" >
                    <label>
                        Select which Contact you would like to include:
                    </label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="IsBusiness" id="IsBusiness" value="true">
                            Business Contacts
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="IsInvoice">
                            Invoice Contacts
                        </label>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <input type="text" class="form-control" name="Subject" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="10" name="Content" placeholder="Content"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg pull-left" data-dismiss="modal">Back</button>
                <button type="button" class="btn btn-primary btn-lg pull-right" id="exampleModal_submit" style="padding-top: 5px; padding-bottom: 5px;"><span>Finish and</span><br />
                    <span style="font-size: 11px;">Email Reminder</span></button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#exampleModal_submit').click(function () {
            $('#Receivers').val(GetListReceivers());
            $('#FormC').submit();
        });
    });
</script>*@